@using VAV.DAL.Common
@using VAV.Web.Common
@{
    var datePickerId = "datePicker" + ViewBag.ID;
    var endDatePickerId = "endDatePicker" + ViewBag.ID;

    var startDate = DateTime.Now.AddYears(-1).ToString("yyyy-MM-dd");
    var endDate = DateTime.Now.ToString("yyyy-MM-dd");

    var typeSelectId = "tselect" + ViewBag.ID;
    var subTypeSelect = "subTypeOptionSelect" + ViewBag.ID;
    var secTypeSelectId = "secTypeSelectId" + ViewBag.ID;
    var unitSelectId = "uselect" + ViewBag.ID;
    var queryButtonId = "query" + ViewBag.ID;
    var contentDivId = "contentDiv" + ViewBag.ID;
    var reportDivID = "report" + ViewBag.ID;
    var topDivID = "top" + ViewBag.ID;
    var bottomDivID = "bottomDiv" + ViewBag.ID;
    var refreshUrl = VirtualPathUtility.ToAbsolute("~/BondReport/GetBondIssuMatures");
    var refreshDetailURL = VirtualPathUtility.ToAbsolute("~/BondReport/GetIssuanceMaturesDetailData");
    var exportDetailUrl = VirtualPathUtility.ToAbsolute("~/BondReport/ExportExcelForIssuanceMaturesDetail");
    var exportSummaryUrl = VirtualPathUtility.ToAbsolute("~/BondReport/ExportExcelForBondIm");
    var exportExcelForSummaryChartUrl = VirtualPathUtility.ToAbsolute("~/BondReport/ExportExcelForBondImChart");
    var tabid = "tab" + ViewBag.ID;
    var updateSubTypeOptionsUrl = VirtualPathUtility.ToAbsolute("~/BondReport/UpdateSubTypeOptions3");
    var topTableId = "topTable" + ViewBag.ID;
}
<div class="colorBlock" style="min-width: 880px;">
    <div id="filterDiv@(ViewBag.ID)" style="margin: 5px 0px 0px 10px; height: 27px;">
        <div style="float: left;">
            @Resources.Global.Report_Query_From
            <input type="text" id="@datePickerId" value="@startDate" class="dateInput" readonly />
            <label style="margin-left:10px;">@Resources.Global.Report_Query_End</label>
            <input type="text" id="@endDatePickerId" value="@endDate" class="dateInput" readonly />
            <label style="margin-left:10px;">@Resources.Global.Report_Type</label>
            <select id="@typeSelectId" class="medium2Select" onchange="UpdateSubTypeOptionsForIssMat(@ViewBag.ID)">
                @foreach (var o in HtmlUtil.CookOptions("bond_market_classify3"))
                {
                    <option value="@o.ID">@o.Name</option>
                }
            </select>
        </div>

        <div style="float:left;">
            <div class="colorBlock">
                <div id="optionDiv">
                    <select id="@subTypeSelect" class="largeSelect" multiple="multiple">
                        @foreach (var o in HtmlUtil.CookOptions("bond_class"))
                        {
                            <option value="@o.ID" selected="selected">@o.Name</option>
                        }
                    </select>
                </div>
            </div>
            <input type="hidden" id="selectedOptionCount" value="0" />
        </div>

        <div style="float: left;">
            <input type="checkbox" id="useSecType_@ViewBag.ID" />@Resources.Global.Sec_Type
            <select id="@secTypeSelectId" name="coption" class="medium2Select">
                @foreach (var o in HtmlUtil.CookOptions("bond_market_classify3"))
                {
                    <option value="@o.ID">@o.Name</option>
                }
            </select>
            <label>@Resources.Global.Report_Unit</label>
            <select id="@unitSelectId" name="unit" class="smallSelect">
                @foreach (var o in HtmlUtil.CookOptions("unit"))
                {
                    <option value="@o.ID">@o.Name</option>
                }
            </select>

            <input type="button" id="_queryButtonId" value="@Resources.Global.Report_Query" onclick="BondInfo.QueryBondIssuMatures(@ViewBag.ID)" />
        </div>
    </div>
</div>
<div id="@contentDivId" class="StatisticalContent" style="min-width:880px;">
    <div id="@reportDivID" class="Statistical">
        <div id="@topDivID" class="StatisticalTop">
            <div class="StatisticalLeft" style="width: 45%;">
                <div class="colorBlock" style="height: 100%; height: -webkit-calc(100% - 7px);">
                    <div class="colorBlock-header">
                        <div>
                            <span class="colorBlock-header-span">@Resources.Global.Title_Statistics</span> <a href="#" class="exportExcel"
                                                                                                              onclick="BondInfo.ExportExcelImSummary(this)">
                                <img alt="Export" src="~/Content/themes/base/images/excel_icon.png" />
                            </a>
                        </div>
                    </div>
                    <div id="gridDiv_@ViewBag.ID" class="gridTable">
                        <table id="@topTableId" class="datatable" style="cursor:pointer;">
                            <thead>
                                <tr class="hr">
                                    <th align="center">
                                        @Resources.Global.BondIssue_Type
                                    </th>
                                    <th align="center">
                                        @Resources.Global.BondIssue_End_Balance
                                    </th>
                                    <th align="center">
                                        @Resources.Global.BondIssue_Initial_Balance
                                    </th>
                                    <th align="center">
                                        @Resources.Global.BondIssue_Issues
                                    </th>
                                    <th align="center">
                                        @Resources.Global.BondIssue_Issues_PCT
                                    </th>
                                    <th align="center">
                                        @Resources.Global.BondIssue_Issue_Amt
                                    </th>
                                    <th align="center">
                                        @Resources.Global.BondIssue_Issues_Amt_PCT
                                    </th>
                                    <th align="center">
                                        @Resources.Global.BondIssue_Maturity_Bonds
                                    </th>
                                    <th align="center">
                                        @Resources.Global.BondIssue_Maturity_Amount
                                    </th>
                                    <th align="center">
                                        @Resources.Global.BondIssue_End_Issues
                                    </th>
                                    <th align="center">
                                        @Resources.Global.BondIssue_End_Issues_PCT
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div>@Resources.Global.Source</div>
                    </div>
                </div>
            </div>
            <div id="issuMaturesTopRightDiv" class="StatisticalRight" style="width: 55%;">
                <div class="colorBlock" style="height: 100%; height: -webkit-calc(100% - 7px);">
                    <div class="colorBlock-header">
                        <div>
                            <span class="colorBlock-header-span">@Resources.Global.Title_StatisticsChart</span>
                        </div>
                    </div>
                    <label for="timeperiod@(ViewBag.ID)" style="margin-left: 10px;">@Resources.Global.Frequency</label>
                    <select id="timeperiod@(ViewBag.ID)" onchange="BondInfo.issuMaturesChartChange()" style="width: auto;">
                        <option value="m">@Resources.Global.SummarizingFrequency_Month</option>
                        <option value="q">@Resources.Global.SummarizingFrequency_Quarter</option>
                        <option value="h">@Resources.Global.Half_Year</option>
                        <option value="y">@Resources.Global.SummarizingFrequency_Year</option>
                    </select>
                    <label for="issuMaturesChartColumn" style="margin-left: 0">@Resources.Global.Chart_Item</label>
                    <select id="issuMaturesChartColumn" onchange="BondInfo.issuMaturesChartChange()" style="width: auto;">
                        <option value="EndBalance">@Resources.Global.BondIssue_End_Balance</option>
                        <option value="InitialBalance">@Resources.Global.BondIssue_Initial_Balance</option>
                        <option value="Issues">@Resources.Global.BondIssue_Issues</option>
                        <option value="IssuesPercent">@Resources.Global.BondIssue_Issues_PCT</option>
                        <option value="IssuesAmount">@Resources.Global.BondIssue_Issue_Amt</option>
                        <option value="IssuesAmountPercent">@Resources.Global.BondIssue_Issues_Amt_PCT</option>
                        <option value="MaturityBonds">@Resources.Global.BondIssue_Maturity_Bonds</option>
                        <option value="MaturityAmount">@Resources.Global.BondIssue_Maturity_Amount</option>
                        <option value="EndIssues">@Resources.Global.BondIssue_End_Issues</option>
                        <option value="EndIssuesPercent">@Resources.Global.BondIssue_End_Issues_PCT</option>
                    </select>
                    <label for="issuMaturesChartType" style="margin-left: 0;">@Resources.Global.Chart_Type</label>
                    <select id="issuMaturesChartType" onchange="BondInfo.issuMaturesChartChange()" style="width: auto;">
                        <option value="bar">@Resources.Global.ChatType_Column</option>
                        <option value="pie">@Resources.Global.ChatType_Pie</option>
                    </select>
                    <a href="#" class="exportExcel" onclick="BondInfo.ExportExcelFroRightChart(this)">
                        <img alt="Export" src="~/Content/themes/base/images/excel_icon.png" />
                    </a>
                    <div id="issuMaturesChartContainer" class="StatisticalChartContainer"></div>
                </div>
            </div>
        </div>
        <div id="statistical_report_detail_@ViewBag.ID" class="StatisticalBottom vavtab" style="padding: 0;">
            <ul>
                <li><a href="#@(tabid)-1">@Resources.Global.Title_Detail</a></li>
                <li><a href="#@(tabid)-2">@Resources.Global.CityBondInfo_Graphic</a></li>
            </ul>
            <div id="@(tabid)-1" class="colorBlock" style="height: 100%; height: -webkit-calc(100% - 40px);">
                <div class="colorBlock-header">
                    <div style="float: left;padding-left: 10px;line-height:26px;">
                        <input id="issue@(ViewBag.ID)" type="radio" name="term" value="issue" checked="checked" onclick="BondInfo.UpdateIssuanceMaturesDetail(@ViewBag.ID)" checked="checked" />
                        <label for="issue@(ViewBag.ID)" style="font-size: 12px;">@Resources.Global.Issue_Bonds</label>
                        <input id="maturity@(ViewBag.ID)" type="radio" name="term" value="maturity" style="margin-left: 10px;" onclick="BondInfo.UpdateIssuanceMaturesDetail(@ViewBag.ID)" />
                        <label for="maturity@(ViewBag.ID)" style="font-size: 12px;">@Resources.Global.Maturity_Bonds</label>
                        <input type="radio" id="endIssue@(ViewBag.ID)" name="term" value="unMaturity" onclick="BondInfo.UpdateIssuanceMaturesDetail(@ViewBag.ID)" value="U" />
                        <label for="endIssue@(ViewBag.ID)" style="font-size: 12px;padding-right: 10px;">@Resources.Global.Bond_UnMaturity</label>

                    </div>
                    <a href="#" class="exportExcel" onclick="BondInfo.ExportExcelIssSumDetail(this, @ViewBag.ID);">
                        <img alt="Export" src="~/Content/themes/base/images/excel_icon.png" />
                    </a>
                    <div style="width: 300px; float: right; padding-right: 80px">
                        <div id="pricePagePaginate@(ViewBag.ID)">
                        </div>
                    </div>
                    <div id="pricePagePaginateOfLabel@(ViewBag.ID)" class="paginateOfLable" style="float: right;">
                    </div>
                    <div style="clear: both">
                    </div>
                </div>
                <div id="@bottomDivID" class="gridTable" style="width:100%;">
                    <table id="issuanceMaturesDetailTable" class="datatable Zebra" style="cursor: pointer;">
                        <thead>
                            <tr class="hr"></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div>@Resources.Global.Source</div>
                </div>
            </div>
            <div id="@(tabid)-2" class="colorBlock" style="height: 100%;height: calc(100% - 40px);">
                <label style="margin-left: 10px;">@Resources.Global.Chart_Type</label>
                <select id="issuanceMaturesBottomChartType" onchange="BondInfo.IssuanceMaturesBottomChartChange()"
                        style="width: 120px">
                    <option value="bar">@Resources.Global.ChatType_Column</option>
                    <option value="line">@Resources.Global.ChatType_Line</option>
                </select>
                <label style="margin-left: 10px;">@Resources.Global.Frequency</label>
                <select id="bottomPeriod@(ViewBag.ID)" onchange="BondInfo.IssuanceMaturesBottomChartChange()" style="width: auto;">
                    <option value="m">@Resources.Global.SummarizingFrequency_Month</option>
                    <option value="q">@Resources.Global.SummarizingFrequency_Quarter</option>
                    <option value="h">@Resources.Global.Half_Year</option>
                    <option value="y">@Resources.Global.SummarizingFrequency_Year</option>
                </select>
                <label style="margin-left: 0">@Resources.Global.Chart_Item</label>
                <select id="bottomDataType@(ViewBag.ID)" onchange="BondInfo.IssuanceMaturesBottomChartChange()" style="width: auto;">
                    <option value="Issues">@Resources.Global.BondIssue_Issues</option>
                    <option value="EndBalance">@Resources.Global.BondIssue_End_Balance</option>
                    <option value="InitialBalance">@Resources.Global.BondIssue_Initial_Balance</option>
                    <option value="IssuesAmount">@Resources.Global.BondIssue_Issue_Amt</option>
                    <option value="MaturityBonds">@Resources.Global.BondIssue_Maturity_Bonds</option>
                    <option value="MaturityAmount">@Resources.Global.BondIssue_Maturity_Amount</option>
                    <option value="EndIssues">@Resources.Global.BondIssue_End_Issues</option>
                </select>
                <a href="#" class="exportExcel" onclick="BondInfo.ExportExcelFromBottomChart(this)">
                    <img alt="Export" src="~/Content/themes/base/images/excel_icon.png" />
                </a>
                <div id="issuanceMaturesBottomChart" class="StatisticalChartContainer">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var BondInfo = (function (my) {
        my.QueryBondIssuMatures = function (id) {
            var itemClass = $('#@subTypeSelect').val();
            if (itemClass != null) itemClass = itemClass.join();
            AjaxWithBlock($('#@contentDivId'), "@refreshUrl",
                {
                    start: $("#@datePickerId").val(),
                    end: $("#@endDatePickerId").val(),
                    category: $("#@typeSelectId").val(),
                    itemList: itemClass,
                    useSubType: $("#useSecType_@ViewBag.ID").is(':checked') ? 1 : 0,
                    subType: $('#@secTypeSelectId option:selected').val(),
                    unit: $('#@unitSelectId option:selected').val(),
                    id: id,
                    rate: $("#timeperiod@(ViewBag.ID)").val(),
                    chartType: $('#issuMaturesChartType').val(),
                    columnType: $('#issuMaturesChartColumn').val()
                }, function (data) {
                    my.BuildBondIssuMaturesTopTable(data.TopTable);
                    my.issuMaturesTopChart(data.Chart);
                });
        };
        my.BuildBondIssuMaturesTopTable = function (data) {
            var markup = BondInfo.BuildIssuMaturesTopRowTemplate(data.ColumTemplate);
            $.template("rowTemplate", markup);
            $('#@topTableId tbody').empty();
            $.tmpl("rowTemplate", data.RowData).appendTo("#@topTableId tbody");
            $("#@topTableId tbody > tr:first").addClass("SelectedRow");
            $("#@topTableId tbody > tr:first").click();
        };
        my.BuildIssuMaturesTopRowTemplate = function (columns) {
            var tpl = '<tr typeValue="${TypeValue}" onclick="BondInfo.RefreshIssuanceMaturesDetail(this, \'' + @ViewBag.ID + '\')\">';
            var isUseSubType = false;
            if ($("#useSecType_@ViewBag.ID").is(':checked') && $("#@typeSelectId").val() != $('#@secTypeSelectId option:selected').val()) {
                isUseSubType = true;
                tpl = '<tr {{if isParent==1}}id="IssuMaturesTop${Type}" typeValue="${TypeValue}" onclick="BondInfo.RefreshIssuanceMaturesDetail(this, \'' + @ViewBag.ID + '\')\"' +
                    '{{else}}typeValue="${TypeValue}" subTypeValue="${SubTypeValue}" class="IssuMaturesTop${Type}{{/if}}" onclick="BondInfo.RefreshIssuanceMaturesDetail(this, \'' + @ViewBag.ID + '\')\">';
            }
            $.each(columns, function (key, value) {
                if (key == 0) {
                    if (isUseSubType) {
                        tpl = tpl + '{{if isParent==1}}<td style="text-align:left;"><div  class="expand" onclick="BondInfo.ShowOrHideSub(\'IssuMaturesTop${Type}\',this)" style ="float:left"></div><div style="text-align: left">${Type}</div>{{else}}<td style="text-align:left; text-indent:40px;">${SubType}{{/if}}</td>';
                    }
                    else {
                        tpl = tpl + '<td style="text-align: left;">${' + value.ColumnName + '}</td>';
                    }
                }
                else {
                    tpl = tpl + '<td style="text-align: right;">${' + value.ColumnName + '}</td>';
                }
            });
            tpl = tpl + '</tr>';
            return tpl;
        };
        my.ShowOrHideSub = function (className, img) {
            if ($(img).attr("class") == "expand")
                $(img).toggleClass('expand close');
            else
                $(img).toggleClass('close expand');

            $("." + className).toggle();
        };
        my.ExportExcelImSummary = function (link) {
            var itemClass = $('#@subTypeSelect').val();
            if (itemClass != null) itemClass = itemClass.join();
            $(link).attr("href",
                "@exportSummaryUrl?start=" + $('#@datePickerId').val()
                    + '&end=' + $('#@endDatePickerId').val()
                        + '&category=' + $('#@typeSelectId').val()
                            + '&itemList=' + itemClass
                            + '&useSubType=' + ($("#useSecType_@ViewBag.ID").is(':checked') ? "1" : "0")
                            + '&subType=' + $('#@secTypeSelectId option:selected').val()
                            + '&unit=' + $('#@unitSelectId option:selected').val()
                                + '&reportName=@Resources.Global.Title_Statistics'
            );
        };


        var lastOrder = "";
        my.page = 1;
        my.ExportExcelIssSumDetail = function (link, id) {
            var itemClass = $('#@subTypeSelect').val();
            if (itemClass != null) itemClass = itemClass.join();

            $(link).attr("href",
                "@exportDetailUrl?start=" + $('#@datePickerId').val()
                    + '&end=' + $('#@endDatePickerId').val()
                    + '&useSubType=' + ($("#useSecType_@ViewBag.ID").is(':checked') ? "1" : "0")
                        + '&type=' + $('#@typeSelectId').val()
                            + '&typeValue=' + $('#@topTableId .SelectedRow').attr('typeValue')
                                + '&subType=' + $('#@secTypeSelectId').val()
                                    + '&subTypeValue=' + $('#@topTableId .SelectedRow').attr('subTypeValue')
                                        //+ '&unit=' + $('#@unitSelectId').val()
                                            + '&term=' + $('input:radio[name=term]:checked').val()
                                                + '&reportName=@ViewBag.Name'
                                                    + '&id=' + id
                                                        + '&order=' + lastOrder
                                                        + '&itemList=' + itemClass
                                                        + '&startPage=' + my.page
                                                        + '&pageSize=300'
            );
        };

        //For handling click event triggered in the summary table
        my.RefreshIssuanceMaturesDetail = function (row, id) {
            $("#@topTableId .SelectedRow").removeClass("SelectedRow");
            $(row).addClass("SelectedRow");
            my.UpdateIssuanceMaturesDetail(id);
            my.IssuanceMaturesBottomChartChange();
        };

        my.UpdateIssuanceMaturesDetail = function (id, order, page) {
            lastOrder = "";
            if (page == null) page = 1;
            var itemClass = $('#@subTypeSelect').val();
            if (itemClass != null) itemClass = itemClass.join();
            AjaxWithBlock($('#@bottomDivID'), "@refreshDetailURL",
                {
                    start: $.trim($('#@datePickerId').val()),
                    end: $.trim($('#@endDatePickerId').val()),
                    type: $.trim($('#@typeSelectId').val()),
                    typeValue: $.trim($('#@topTableId .SelectedRow').attr('typeValue')),
                    useSubType: $("#useSecType_@ViewBag.ID").is(':checked') ? 1 : 0,
                    subType: $.trim($('#@secTypeSelectId option:selected').val()),
                    subTypeValue: $.trim($('#@topTableId .SelectedRow').attr('subTypeValue')),
                    term: $.trim($('input:radio[name=term]:checked').val()),
                    id: id,
                    order: order,
                    itemList: itemClass,
                    startPage: page,
                    pageSize: 300
                }, function (data) {
                    if (typeof order === "undefined") {
                        $(".sortColumn").attr('tag', '');
                        my.BuildBottomTableHeader(data);
                    }
                    my.BuildBottomTable(data);
                    my.UpdateIssPagination(data, id, order, '@Resources.Global.WMP_of', '@Resources.Global.Paginate_First', '@Resources.Global.Paginate_Last', my.UpdateIssuanceMaturesDetail);
                });
        };

        my.BuildBottomTableHeader = function (data) {
            $.template("colTemp", '<th class="sortColumn" tag="${Sort}" onclick="BondInfo.SortDimsumColumn(this, \'${ColumnName}\')">${Name}<span></span></th>');
            $('#issuanceMaturesDetailTable thead tr').empty();
            $.tmpl("colTemp", data.ColumTemplate).appendTo("#issuanceMaturesDetailTable thead tr");
        };

        my.BuildBottomTable = function (data) {
            var markup = BondInfo.BuildRowTemplate_DimsumBondAnalysis(data.ColumTemplate, '@Resources.Global.Bond_History_Rating');
            $.template("rowTemplate", markup);
            $('#issuanceMaturesDetailTable tbody').empty();
            $.tmpl("rowTemplate", data.RowData).appendTo("#issuanceMaturesDetailTable tbody");
        };

        my.UpdateIssPagination = function (data, reportId, order, text, ftext, ltext, callback) {
            if (data.Total == 0) {
                $('#pricePagePaginateOfLabel' + reportId + ',#pricePagePaginate' + reportId).hide();
                return;
            } else {
                $('#pricePagePaginateOfLabel' + reportId + ',#pricePagePaginate' + reportId).show();
            }

            my.UpdateIssPaginationLabel(data.CurrentPage, 300, data.Total, reportId, text);
            $('#pricePagePaginate' + reportId).paginate({
                count: Math.ceil(data.Total / 300),
                start: data.CurrentPage,
                display: 10,
                border: false,
                text_color: '#00B3E3',
                background_color: 'none',
                text_hover_color: '#28D2FF',
                background_hover_color: 'none',
                images: false,
                mouse: 'press',
                onChange: function (page) {
                    callback(reportId, order, page);
                },
                firstText: ftext,
                lastText: ltext
            });
        };

        my.UpdateIssPaginationLabel = function (current, pageSize, total, reportId, text) {
            my.page = current;
            var start = (current - 1) * pageSize + 1;
            var end = current * pageSize;
            if (end > total) end = total;
            $('#pricePagePaginateOfLabel' + reportId).html(start + '-' + end + text + total);
        };

        //bottom chart below:
        my.IssuanceMaturesBottomChartChange = function () {
            var itemClass = $('#@subTypeSelect').val();
            if (itemClass != null) itemClass = itemClass.join();

            var subCategoryValue = $('#@topTableId .SelectedRow').attr('subTypeValue') == undefined ? "" : $('#@topTableId .SelectedRow').attr('subTypeValue');
            AjaxWithBlock($('#issuanceMaturesBottomChart'), "/BondReport/GetIssuMaturesTopChartData",
                {
                    rate: $("#bottomPeriod@(ViewBag.ID)").val(),
                    chartType: $.trim($('#issuanceMaturesBottomChartType').val()),
                    columnType: $('#bottomDataType@(ViewBag.ID)').val(),
                    start: $.trim($('#@datePickerId').val()),
                    end: $.trim($('#@endDatePickerId').val()),
                    category: $('#@typeSelectId').val(),
                    itemList: itemClass,
                    unit: $.trim($('#@unitSelectId').val()),
                    isUseSubCategory: $("#useSecType_@ViewBag.ID").is(':checked') ? 1 : 0,
                    subCategory: $.trim($('#@secTypeSelectId option:selected').val()),
                    subCategoryValue: subCategoryValue,
                    categoryValue: $.trim($('#@topTableId .SelectedRow').attr('typeValue'))
                }, my.BuildIssuanceMaturesBottomChart);
        };

        my.BuildIssuanceMaturesBottomChart = function (data) {
            var chartParameter = my.issuBuildChartParameter(data, 'issuanceMaturesBottomChart', 1);
            BondInfo.IssuanceMaturesBottomChartObj = new Highcharts.Chart(chartParameter);
            debugger;
            if (BondInfo.IssuanceMaturesBottomChartObj) {
                var bottomChartParent = $("#@(tabid)-2");
                BondInfo.IssuanceMaturesBottomChartObj.setSize(bottomChartParent.width() - 25, bottomChartParent.height() - 30, false);
                my.setDetailWidth = true;
            }
        };

        my.ExportExcelFroRightChart = function (link) {
            var itemClass = $('#@subTypeSelect').val();
            if (itemClass != null) itemClass = itemClass.join();
            $(link).attr("href",
               "@exportExcelForSummaryChartUrl?start=" + $.trim($('#@datePickerId').val())
                   + '&end=' + $.trim($('#@endDatePickerId').val())
                   + '&rate=' + $("#timeperiod@(ViewBag.ID)").val()
                   + '&columnType=' + $('#issuMaturesChartColumn').val()
                        + '&category=' + $('#@typeSelectId').val()
                            + '&itemList=' + itemClass
                              + '&unit=' + $('#@unitSelectId').val()
                              + '&reportName=@ViewBag.Name'
           );
        };
        my.ExportExcelFromBottomChart = function (link) {
            var subCategoryValue = $('#@topTableId .SelectedRow').attr('subTypeValue') == undefined ? "" : $('#@topTableId .SelectedRow').attr('subTypeValue');
            var itemClass = $('#@subTypeSelect').val();
            if (itemClass != null) itemClass = itemClass.join();
            $(link).attr("href",
               "@exportExcelForSummaryChartUrl?start=" + $.trim($('#@datePickerId').val())
                   + '&end=' + $.trim($('#@endDatePickerId').val())
                   + '&rate=' + $("#bottomPeriod@(ViewBag.ID)").val()
                   + '&columnType=' + $('#bottomDataType@(ViewBag.ID)').val()
                        + '&category=' + $('#@typeSelectId').val()
                            + '&itemList=' + itemClass
                              + '&unit=' + $('#@unitSelectId').val()
                              + '&reportName=@ViewBag.Name'
                               + '&isUseSubCategory=' + ($("#useSecType_@ViewBag.ID").is(':checked') ? "1" : "0")
                                + '&subCategory=' + $('#@secTypeSelectId').val()
                                    + '&subCategoryValue=' + subCategoryValue
                                    + '&categoryValue=' + $('#@topTableId .SelectedRow').attr('typeValue')
           );
        };
        my.issuMaturesChartChange = function () {
            var itemClass = $('#@subTypeSelect').val();
            if (itemClass != null) itemClass = itemClass.join();
            AjaxWithBlock($('#issuMaturesTopRightDiv'), "/BondReport/GetIssuMaturesTopChartData",
                {
                    rate: $("#timeperiod@(ViewBag.ID)").val(),
                    chartType: $('#issuMaturesChartType').val(),
                    columnType: $('#issuMaturesChartColumn').val(),
                    start: $("#@datePickerId").val(),
                    end: $("#@endDatePickerId").val(),
                    category: $('#@typeSelectId').val(),
                    itemList: itemClass,
                    unit: $('#@unitSelectId').val()
                }, my.issuMaturesTopChart);
        };
        my.issuMaturesTopChart = function (data) {
            var chartParameter = my.issuBuildChartParameter(data, 'issuMaturesChartContainer');
            BondInfo.issuMaturesChartObj = new Highcharts.Chart(chartParameter);
        };
        my.issuBuildChartParameter = function (data, target, fromBottom) {
            var param;
            var dataTypeName = '#issuMaturesChartColumn';
            if (fromBottom)
                dataTypeName = '#bottomDataType@(ViewBag.ID)';
            if (data.ChartType == 'pie') {
                param = my.issubuildPieChartParameters(data, target);
            }
            else {
                var isLine = data.ChartType == 'line';
                param = my.issubuildBarChartParameters(data, target, isLine);
                var dataType = $(dataTypeName).val();
                switch (dataType) {
                    case 'IssuesPercent':
                    case 'IssuesAmountPercent':
                    case 'EndIssuesPercent':
                        param.yAxis.max = 100;
                        break;
                    default:
                }
            }
            param.credits = { href: 'http://thomsonreuters.com/', text: '@Resources.Global.Source' };
            if (fromBottom)
                param.title = {
                    text: '@Resources.Global.Title_StatisticsChart' + '-' + $(dataTypeName).find("option:selected").text()
                };
            else
                param.title = {
                    text: '@Resources.Global.Title_StatisticsChart' + '(' + $('#@typeSelectId option:selected').text() + ')-' + $(dataTypeName).find("option:selected").text()
                };
            return param;
        }
        my.issubuildPieChartParameters = function (chartData, target) {
            return {
                chart: {
                    renderTo: target
                },
                tooltip: { formatter: function () { return '<b>' + this.point.name + '</b>: ' + Highcharts.numberFormat(this.y, chartData.Decimal); } },
                series: [{
                    type: 'pie',
                    name: chartData.YText,
                    data: chartData.PieSeriesData
                }]
            };
        };

        my.issubuildBarChartParameters = function (chartData, target, isLine) {
            return {
                chart: {
                    renderTo: target,
                    type: isLine ? 'line' : 'column'
                },
                tooltip: {
                    formatter: function () {
                        if (isLine)
                            return '<b>' + this.x + '</b><br/>' +
                                this.series.name + ': ' + Highcharts.numberFormat(this.y, chartData.Decimal) + '<br/>';
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + Highcharts.numberFormat(this.y, chartData.Decimal) + (target == 'issuanceMaturesBottomChart' ? '' : ('<br/>' +
                            '@Resources.Global.Total : ' + Highcharts.numberFormat(this.point.stackTotal, chartData.Decimal)));
                    }
                },
                xAxis: {
                    categories: chartData.ColumnCategories
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: chartData.YText
                    },
                    stackLabels: {
                        enabled: false
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: false,
                            formatter: function () { return Highcharts.numberFormat(this.y, chartData.Decimal); }
                        },
                        borderWidth: 0, pointPadding: 0.2
                    }
                },
                series: chartData.ColumnSeriesData
            };
        };

        return my;
    }(BondInfo || {}));
    $(function () {
        $("#@datePickerId, #@endDatePickerId").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd'
        });
        $("#@subTypeSelect").multiselect({
            buttonMinWidth: 115,
            menuMinWidth: 240,
            checkAllText: '@Resources.Global.Select_All',
            uncheckAllText: '@Resources.Global.Unselect_All',
            noneSelectedText: '@Resources.Global.Tip_PleaseSelect',
            selectedText: '#@Resources.Global.Selected'
        });
        $("#statistical_report_detail_@ViewBag.ID").tabs({});
        BondInfo.QueryBondIssuMatures(@ViewBag.ID);
    });
    function UpdateSubTypeOptionsForIssMat(reportId) {
        var type = $('#tselect' + reportId + ' option:selected').val();
        $.ajax({
            type: 'POST',
            url: '@updateSubTypeOptionsUrl',
            data: {
                type: type
            },
            success: function (data) {
                $("#@subTypeSelect").html(data);
                $("#@subTypeSelect").multiselect('refresh');
            },
            async: true
        });
    }
</script>
