@model VAV.Entities.HOMEITEM
@{
    var roomStyle = Model.MODULEID == 7 ? "style='color:#2070C5;'" : (Model.MODULEID == 3 ? "style='color:#00b3e3;'" : "");
    var isNew = (DateTime.Now - Convert.ToDateTime(Model.MTIME)).Days <= 30 ? true : false;
}
<div class="home-aside-cell">
    <a @Html.Raw(roomStyle) href="javascript:void(0)" onclick="Homepage.OpenHomeItem('@Model.TYPE','@Model.TYPEVALUE','@Model.TYPEPARAM');">@Model.DisplayName</a>
    @if (isNew)
    {   
        <span class="worldcup" style="font-size:10px;">NEW</span>
    }
</div>